body{

  font-family: 'Donegal One', serif;
  line-height: 1.8;

}


nav{
text-align: center;
background-color: #BAD18C;
margin-top: 2.9rem;
}

nav h1{
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: #556B2F;
}

nav p{
  font-size: 20px;
  display: inline;
}



.info{

}


#set{
  line-height: 1.8;
}


h2{
  font-size: 27px;
  border: 1px solid  #BAD18C;
  padding: 0.5rem;
  background-color: #BAD18C;


}

#start{
  line-height: 1.5;
  margin: 0.5rem;
  font-size: 20px;
}

ol{
  font-size: 20px;
  padding-left: 1.5rem;
}


.section{
  margin: 1.5rem;
}
